body
{
    background: #87CEFA;
}

#Label1
{
    font-size: 30px;
    font-weight: bold;
}

#Label2, #Label3, #Label4, #Label5
{
    font-size: larger;
    font-weight: bold;
}

#subject_code, #subject_name, #semester, #batch, #Button1, #Button2
{
    font-size: larger;
}

#clear
{
    font-size: larger;
    height : 30px;
    width: 220px;
}