body
{
    background: #87CEFA;
}

#Label1
{
    font-size: 30px;
    font-weight: bold;
}

#Label2, #Label3, #Label4
{
    font-size: larger;
    font-weight: bold;
}

#usn, #student_name, #batch, #Button1, #Button2
{
    font-size: larger;
}

#clear
{
    font-size: larger;
    height : 30px;
    width: 220px;
}